@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    /*! margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'DM Sans', sans-serif;
    --dark-body: #000000;
    --light-col: #ffffff;
    --dark-panel: rgba(255, 255, 255, 0.05);
    --tete-r: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 31.25%, rgba(0, 0, 0, 0) 68.75%, #000000 100%);
}

body {
    font-family: "DM Sans", sans-serif;
    background: #000000;
    color: #ffffff;
    font-weight: 400;
    background: var(--dark-body);
}

/* ----section 1 ------*/
/*Navbar*/
#mainNav {
    background-color: rgba(0, 0, 0, 0.781);
}

#mainNav .container {
    max-width: 1440px;
    padding-left: 0;
    margin: 1.25rem 4rem;

}

@media screen and (max-width: 576px) {
    #mainNav .container {
        margin: 0px;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

#mainNav .button-signup {
    background: #e7332b;
    border-radius: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px solid #e7332b;
}

#mainNav .button-signup:hover {
    background: transparent;
}


#mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: black;
    margin: 0 auto;
    box-shadow: 3px 1px 13px black;
    transition: all 0.8s ease-in-out;
}

/* Header */
.header {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/backgroundimg.png');
    display: flex;
    justify-content: left;
    align-items: center;
}

/*.header .container {
    max-width: 1440px;
}*/

.header__text {
    color: white;
}

.header__text h1 {
    font-size: 3.2rem;
}

.header__text p {
    font-size: .9rem;
    font-weight: 400;
    margin: 1rem 0rem 2.5rem 0;
}

.header__button {
    background: #e7332b;
    border: 1px solid #e7332b;
    color: white;
    font-size: 1rem;
}

.header__button:hover {
    background: transparent;
    color: white;
}

/* ----section 2 ------*/
/* The Info Section */
.infogrid {
    position: relative;
    margin-top: 176px;
    margin-bottom: 176px;
}

.vector-2 {
    position: absolute;
    width: 48px;
    height: 45px;
    top: -15px;
    left: -5px;
    z-index: -1;
}

#info h4 {
    font-weight: 500;
    font-size: 20px;
}

#info p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
}

/* Media Queries */
@media screen and (max-width:767px) {
    #info .row {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .infogrid {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:575px) {
    .vector-2 {
        top: -15px;
        left: 5px;
    }
}

/* The Subscription Plan Section */
#plans .box-group {
    margin-bottom: 172px;
}

.card {
    width: 280px;
    height: 314px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
}

.card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#plans h2 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 12px;
}

h2+p {
    width: 60%;
}

#plans p {
    font-size: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

#plans h3 {
    font-weight: 500;
    font-size: 20px;
}

#plans h1 {
    font-weight: 500;
    font-size: 48px;
}

#plans .btn {
    font-weight: 500;
    font-size: 16px;
    background: #E7332B;
    border-radius: 20px;
    color: #ffffff;
}

#plans .btn:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #E7332B;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    h2+p {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    h2+p {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #plans .box-group {
        margin-bottom: 80px;
    }
}

/* ----section 3 ------*/

/* section title stylings */

.sect__lead {
    font-family: var(--primary-font);
    color: var(--light-col);
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    font-style: normal;
}

/* accordion stylings  */


/* accordion */

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.accordion,
.panel {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.accordion:after {
    content: '\002B';
    color: var(--light-col);
    float: right;
    margin-left: 5px;
}

.details .active:after {
    content: "\2212";
}

.panel {
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel,
.panel-txt,
.accordion {
    background-color: var(--dark-panel);
    color: var(--light-col);
}

.panel-txt {
    padding: 1rem;
}

.details-head,
.panel-txt {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.83px;
    background: var(--dark-panel);
}

.details-head.active {
    color: var(--light-col);
}

.details-sub {
    font-family: var(--fonts-source);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--black-color);
}

button:focus {
    outline: none;
}

/* accordion ends */


/* contact section */

#contact {
    border: 1px solid var(--tete-r);
    margin-top: 9rem;
}

.contact {
    background-image: url(../img/footer.svg);
    background-color: rgba(255, 255, 255, 0.05);
    height: 211px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

#contact .btn {
    font-weight: 500;
    font-size: 16px;
    background: #E7332B;
    border-radius: 20px;
    color: #ffffff;
}

#contact .btn:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #E7332B;
}

.foot-links {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 20.83px;
    color: var(--light-col);
}

.ft-links {
    text-decoration: underline;
}

.ft-links:hover {
    color: var(--light-col);
}

@media screen and (max-width:620px) {
    .sect__lead {
        font-size: 22px;
        line-height: 28.6px;
    }

    #contact {
        margin-top: 4rem;
    }

    .foot {
        flex-direction: column;
    }

    .foot-links {
        margin-top: 1rem;
    }
}