@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-font: 'DM Sans', sans-serif;
    --dark-body: #000000;
    --light-col: #ffffff;
}

body {
    font-family: "DM Sans", sans-serif;
    background: #000000;
    color: #ffffff;
    font-weight: 400;
    background: var(--dark-body);
    height: 2750px;
}

/* ----section 1 ------*/
/*Logo Sizing*/
.logoName {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 26px;
    margin-bottom: 0px;
}


/*Navbar*/
#mainNav {
    background-color: rgba(0, 0, 0, 0.781);
}

#mainNav ul a {
    line-height: 21px;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

#mainNav .button-signup {
    background: #e7332b;
    border-radius: 20px;
    padding: 10px 1.5rem;
    border: 1px solid #e7332b;
    line-height: 21px;
    font-weight: 500;
    height: 41px;
}

#mainNav .button-signup:hover {
    background: transparent;
}


#mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: black;
    margin: 0 auto;
    box-shadow: 3px 1px 13px black;
    transition: all 0.8s ease-in-out;
}

/* Header */
.header {
    background-color: black;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(90deg, #000000 35.07%, rgba(0, 0, 0, 0) 81.14%), url('../img/backgroundimg.png');
    height: 27%;
    background-attachment: fixed;
}

.header__text {
    color: white;
}

.header__text h1 {
    font-size: 3.2rem;
}

.header__text p {
    font-size: .9rem;
    font-weight: 400;
    margin: 1rem 0rem 2.5rem 0;
}

.header__button {
    background: #e7332b;
    border: 1px solid #e7332b;
    color: white;
    font-size: 1rem;
}

.header__button:hover {
    background: transparent;
    color: white;
}

.heroArea {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
}

/* ----section 2 ------*/
/* The Info Section */
.infogrid {
    position: relative;
    margin-top: 176px;
    margin-bottom: 176px;
}

.vector-2 {
    position: absolute;
    width: 48px;
    height: 45px;
    top: -15px;
    left: -5px;
    z-index: -1;
}

#info h4 {
    font-weight: 500;
    font-size: 20px;
}

#info p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
}

/* Media Queries */
@media screen and (max-width:767px) {
    #info .row {
        margin-bottom: 100px;
        margin-top: 140px;
    }

    .infogrid {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:575px) {
    .vector-2 {
        top: -15px;
        left: 5px;
    }
}

/* The Subscription Plan Section */
#plans .box-group {
    margin-bottom: 172px;
}

.card {
    width: 280px;
    height: 314px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
}

.card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#plans h2 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 12px;
}

h2+p {
    width: 60%;
}

#plans p {
    font-size: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

#plans .card p {
    font-size: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 40px;
}

#plans h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
}

#plans h1 {
    font-weight: 500;
    font-size: 48px;
}

#plans .btn {
    font-weight: 500;
    font-size: 16px;
    background: #E7332B;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 24px;
    height: 41px;

    line-height: 21px;
}

#plans .btn:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #E7332B;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    h2+p {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    h2+p {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #plans .box-group {
        margin-bottom: 140px;
    }
}

/* ----section 3 ------*/

/* section title stylings */
#faq {
    margin-bottom: 10rem;
}


#faq .sect__lead {
    font-family: var(--primary-font);
    color: var(--light-col);
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    font-style: normal;
}

/* accordion stylings  */


/* accordion */

.accordion {
    cursor: pointer;
    padding: 16px 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.accordionButton {
    width: 80%;
}

.faq-accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.accordion:after {
    content: '\002B';
    color: var(--light-col);
    float: right;
    margin-left: 5px;
    font-size: 1.5rem;
}

.details-head.active:after {
    content: "\00D7";
}

.panel {
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel-txt {
    padding: 1rem;
}

.details-head,
.panel-txt {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.75);
}

.details-head.active {
    color: var(--light-col);
}

.details-sub {
    font-family: var(--fonts-source);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--black-color);
}

button:focus {
    outline: none;
}

/* accordion ends */
/* FAQ media Query */
@media screen and (max-width:575px) {

    .accordionButton {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #faq {
        margin-bottom: 5rem;
    }
}

/* contact section*/

#contact {
    background-color: rgba(255, 255, 255, 0.05);
    background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 31.25%, rgba(0, 0, 0, 0) 68.75%, #000000 100%);
    margin: 0 auto;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #000000 0%, rgba(255, 255, 255, 0.15) 31.25%, rgba(255, 255, 255, 0.15) 68.75%, #000000 100%);
    border-image-slice: 1;
}

.contact {
    height: 211px;
}

#contact .sect__lead {
    font-family: var(--primary-font);
    color: var(--light-col);
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    font-style: normal;
}

#contact .btn {
    font-weight: 500;
    font-size: 1rem;
    background: #E7332B;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 24px;
    height: 41px;
    line-height: 21px;
}

#contact .btn:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #E7332B;
}

/* footer section */
.foot-links {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 20.83px;
    color: var(--light-col);
    margin-right: 40px;
}

.ft-links {
    text-decoration: underline;
}

.ft-links:hover {
    color: var(--light-col);
}

.copyRight {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 20.83px;
    color: var(--light-col);
}

/* contact/footer media queries */

@media screen and (max-width:620px) {
    #contact {
        margin-top: 140px;
    }

    #contact .sect__lead {
        font-size: 1.375rem;
        line-height: 28.6px;
    }

    .footSection {
        flex-direction: column;
    }

    .linksGroup {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .foot-links {
        margin-top: 1rem;
        margin-right: 0;
    }
}

@media screen and (max-width: 991px) and (min-width:768px) {
    .foot-links {
        margin-right: 15px;
    }

    #contact .sect__lead {
        font-size: 1.8rem;
        line-height: 28.6px;
    }
}

@media screen and (max-width: 767px) {
    .footSection {
        flex-direction: column;
    }

    .linksGroup {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .foot-links {
        margin-top: 1rem;
        margin-right: 0;
    }
}